{% extends "manage/criteria/base_criterion.html" %}
{% load i18n %}

{% block operators %}
  {% include "manage/criteria/2selection_operators.html" %}
{% endblock %}

{% block value %}
  <input type="hidden" name="create_compositions" value="1"/>
  <table>
  {{formset.management_form}}
  <tr><th>{% trans 'Category' %}</th>
      <th>{% trans 'Amount' %}</th>
      <th>{% trans 'Delete' %}</th></tr>
  {% for form in formset.forms %}
    <tr><td>{{form.id}}{{form.category}}</td>
        <td>{{form.amount}}</td>
        <td>{{form.DELETE}}</td></tr>
  {% endfor %}
  </table>
{% endblock %}
